@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #ffefea;
  font-family: "Lato", sans-serif;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}
.content {
  display: grid;
  grid-template-columns: repeat(3 ,1fr);
  grid-gap: 10px;
  padding: 30px 0;
}
.box {
  border: 1px solid #ccc;
  text-align: center;
  box-shadow: 0 0 4px 1px darksalmon;
  padding-top: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.content-show {
  /*js pour changer en block*/

  position: absolute;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  opacity: 0;
  animation: fadeInFromNone 0.3s ease-out;
}

.content-show.open {
  display: flex;
  opacity: 1;
}

.box-show {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 20px 10px;
  width: 40%;
  position: relative;
  box-shadow: 0 0 4px 1px darksalmon;
}
.shortDescription {
  margin-bottom: 4%;
}


.btns {
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  background-color: darksalmon;
  
 
}

.close {
  position: absolute;
  top: 7px;
  right: 7px;
}

button {
  cursor: pointer;
  padding: 5px 15px;
  background-color: darksalmon;
  color: white;
  border: 1px solid white;
  outline: none;
  transition: all 0.5s ease-in-out;
}

button:hover{
  background-color:#444;
  color: white;
  transform:translateY(-3px);
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

.modalDelete {
  background-color: #fff;
  padding: 50px;
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  text-align: center;
  animation: fadeInFromNone 0.7s ease-out;
  display: none;
  opacity: 0;
  box-shadow: 0 0 4px 1px darksalmon;
}

.closeDeleteModal {
  position: absolute;
  top: 8px;
  right: 8px;
}

.modalDelete.open {
  display: block;
  opacity: 1;
}

.modalDelete p {
  padding: 10px;
}
input {
  display: block;
}

a {
  text-decoration: none;
}



.content-edit{
  background-color:rgba(0, 0, 0, 0.5);
  padding: 10px 30px;
  position: fixed;
  top:0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
}
.content-edit.open{
  display: flex;
}

#form-edit{
background-color: white;
width: 50%;
padding: 2em;

}

#title-edit{

  color:black;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1%;
}

a{
  color: white;
}